/* declare a 7 column grid on the table */

#gestation-calendar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#gestation-calendar tr,
#gestation-calendar tbody {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
}

caption {
    text-align: center;
    grid-column: 1 / -1;
    font-size: 130%;
    font-weight: bold;
    padding: 10px 0;
}

#gestation-calendar a {
    color: #8e352e;
    text-decoration: none;
}

#gestation-calendar td,
#gestation-calendar th {
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

#gestation-calendar .weekdays {
    background: #8e352e;
}

#gestation-calendar .weekdays th {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border: none !important;
    padding: 10px 6px;
    color: #fff;
    font-size: 13px;
}

#gestation-calendar td {
    min-height: 100px;
    display: flex;
    flex-direction: column;
}

#gestation-calendar .days li:hover {
    background: #d3d3d3;
}

#gestation-calendar .date {
    text-align: center;
    margin-bottom: 5px;
    padding: 4px;
    /* background: #230758; */
    /* color: #fff; */
    width: 100%;
    border-radius: 100%;
    flex: 0 0 auto;
    align-self: flex-start;
    font-size: xx-large;
    font-family: Tahoma;
    font-weight: bolder;
}

#gestation-calendar .event {
    flex: 0 0 auto;
    font-size: small;
    font-weight: bold;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
    line-height: 14px;
    /*background: #e4f2f2;
    border: 1px solid #b5dbdc;*/
    color: #009aaf;
    text-decoration: none;
}

#gestation-calendar .event-desc {
    color: #666;
    margin: 3px 0 7px 0;
    text-decoration: none;
}

#gestation-calendar .other-month {
    background: #f5f5f5;
    color: #666;
}

#gestation-calendar .today {
    color: #fd588a;
}

.white-box {
    background: #fff;
    padding: 25px;
    margin-bottom: 15px
}

.white-box .box-title {
    margin: 0 0 12px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 40px
}


/* ============================
                  Mobile Responsiveness
     ============================*/

@media (max-width: 768px) {

    #gestation-calendar .weekdays,
    #gestation-calendar .other-month {
        display: none;
    }

    #gestation-calendar li {
        height: auto !important;
        border: 1px solid #ededed;
        width: 100%;
        padding: 10px;
        margin-bottom: -1px;
    }

    #gestation-calendar,
    #gestation-calendar tr,
    #gestation-calendar tbody {
        grid-template-columns: 1fr;
    }

    #gestation-calendar tr {
        grid-column: 1 / 2;
    }

    #gestation-calendar .date {
        align-self: flex-start;
    }
}


/* Rule for auto table <td> widths for the Farrowing gestation-calendar*/

#gestation-gestation-calendar-body tr td {
    white-space: nowrap;
}